[phases.setup]
nixPkgs = ["nodejs_20", "python311", "python311Packages.pip"]

[phases.install]
cmds = [
  "npm install",
  "pip3.11 install -r src/ml/requirements.txt"
]

[phases.build]
cmds = ["npm run build:railway"]

[start]
cmd = "npm start"
